[submodule "deb_packages/jupyterlab"]
	path = deb_packages/jupyterlab
	url = https://github.com/nilcyttocs/jupyterlab_deb.git
	branch = main
[submodule "deb_packages/webds"]
	path = deb_packages/webds
	url = https://github.com/nilcyttocs/webds_deb.git
	branch = main
[submodule "extensions/webds_api"]
        path = extensions/webds_api
        url = https://github.com/qmao/webds_api.git
        branch = main
[submodule "extensions/webds_component_lib"]
        path = extensions/webds_component_lib
        url = https://github.com/nilcyttocs/webds_component_lib.git
        branch = main
[submodule "extensions/webds_config_editor"]
        path = extensions/webds_config_editor
        url = https://github.com/nilcyttocs/webds_config_editor.git
        branch = main
[submodule "extensions/webds_config_launcher"]
        path = extensions/webds_config_launcher
        url = https://github.com/nilcyttocs/webds_config_launcher.git
        branch = main
[submodule "extensions/webds_connection"]
        path = extensions/webds_connection
        url = https://github.com/qmao/webds_connection.git
        branch = main
[submodule "extensions/webds_data_collection"]
        path = extensions/webds_data_collection
        url = https://github.com/nilcyttocs/webds_data_collection.git
        branch = main
[submodule "extensions/webds_device_info"]
        path = extensions/webds_device_info
        url = https://github.com/nilcyttocs/webds_device_info.git
        branch = main
[submodule "extensions/webds_doc_launcher"]
	path = extensions/webds_doc_launcher
	url = https://github.com/nilcyttocs/webds_doc_launcher.git
	branch = main
[submodule "extensions/webds_documentation"]
	path = extensions/webds_documentation
	url = https://github.com/nilcyttocs/webds_documentation.git
	branch = main
[submodule "extensions/webds_gear_selection"]
	path = extensions/webds_gear_selection
	url = https://github.com/nilcyttocs/webds_gear_selection.git
	branch = main
[submodule "extensions/webds_guided_config"]
        path = extensions/webds_guided_config
        url = https://github.com/nilcyttocs/webds_guided_config.git
        branch = main
[submodule "extensions/webds_heatmap"]
	path = extensions/webds_heatmap
	url = https://github.com/nilcyttocs/webds_heatmap.git
	branch = main
[submodule "extensions/webds_integration_duration"]
        path = extensions/webds_integration_duration
        url = https://github.com/nilcyttocs/webds_integration_duration.git
        branch = main
[submodule "extensions/webds_launcher"]
	path = extensions/webds_launcher
	url = https://github.com/nilcyttocs/webds_launcher.git
	branch = main
[submodule "extensions/webds_local_dimming"]
        path = extensions/webds_local_dimming
        url = https://github.com/nilcyttocs/webds_local_dimming.git
        branch = main
[submodule "extensions/webds_production_tests"]
        path = extensions/webds_production_tests
        url = https://github.com/nilcyttocs/webds_production_tests.git
        branch = main
[submodule "extensions/webds_readme"]
	path = extensions/webds_readme
	url = https://github.com/nilcyttocs/webds_readme.git
	branch = main
[submodule "extensions/webds_reflash"]
        path = extensions/webds_reflash
        url = https://github.com/qmao/webds_reflash.git
        branch = main
[submodule "extensions/webds_register_map"]
        path = extensions/webds_register_map
        url = https://github.com/qmao/webds_register_map.git
        branch = main
[submodule "extensions/webds_reprogram"]
        path = extensions/webds_reprogram
        url = https://github.com/qmao/webds_reprogram.git
        branch = main
[submodule "extensions/webds_sensor_mapping"]
        path = extensions/webds_sensor_mapping
        url = https://github.com/qmao/webds_sensor_mapping.git
        branch = main
[submodule "extensions/webds_service"]
	path = extensions/webds_service
	url = https://github.com/nilcyttocs/webds_service.git
	branch = main
[submodule "extensions/webds_software_update"]
	path = extensions/webds_software_update
	url = https://github.com/nilcyttocs/webds_software_update.git
	branch = main
[submodule "extensions/webds_status"]
	path = extensions/webds_status
	url = https://github.com/nilcyttocs/webds_status.git
	branch = main
[submodule "extensions/webds_test_viewer"]
        path = extensions/webds_test_viewer
        url = https://github.com/nilcyttocs/webds_test_viewer.git
        branch = main
[submodule "extensions/webds_touch"]
	path = extensions/webds_touch
	url = https://github.com/nilcyttocs/webds_touch.git
	branch = main
[submodule "extensions/webds_tutor_initial_setup"]
	path = extensions/webds_tutor_initial_setup
	url = https://github.com/qmao/webds_tutor_initial_setup.git
	branch = main
